@using Microsoft.Ajax.Utilities
@model YMovies.Web.TempModels.Movie

@{
    ViewBag.Title = "MovieDetails";
}

<div>
    @Model.Title
</div>
<div style="float:left;">
    <img src="@Url.Content("~/Content/Images/film.png")" class="postr" height="150" width="143" />
</div>
<div>
    <span>
        Year: @Model.Year
    </span>
</div>
<div>
    <span>
        Genres:
        @foreach (var genre in Model.Genres)
        {
            @genre.Name
        }
    </span>
</div>
<div>
    <span>
        Type: @Model.Type
    </span>
</div>
<div >
    <span>
        Countries:
        @foreach (var country in Model.Countries)
        {
            @country.Name
        }
    </span>
</div>
<div>
    <span>
        Cast:
        @foreach (var cast in Model.Cast)
        {
        @cast.Name @cast.Surname
           
        }
    </span>
</div>
<div >
    <span>
        Plot: @Model.Plot
    </span>
</div>
<div>
    <span>
        Rating IMDb: @Model.ImdbRating
    </span>
</div>
<div>
    <span>
        Site users rating: @Model.UsersRating
    </span>
</div>

<div>
    <span>
        @Html.ActionLink("Like", "Index", "Home", new { @class = "btn btn-primary" })
        @Html.ActionLink("Dislike", "Index", "Home", new { @class = "btn btn-primary" })
    </span>
</div>
<div>
    <span>
        <input data-val="true"
               data-val-required="The isActive field is required."
               id="isActive"
               name="isActive"
               type="checkbox"
               value="true">Mark as watched
        </input>
    </span>
</div>
