@using Microsoft.Ajax.Utilities
@model YMovies.MovieDbService.DTOs.MediaDto

@{
    ViewBag.Title = "MovieDetails";
}

<div>
    @Model.Title
</div>
<div style="float:left;">
    <img src="@Html.Raw(Model.PosterUrl)" alt="a description of the image" height=" 250" width="200">
</div>
<div>
    <span>
        Year: @Model.Year
    </span>
</div>
<div>
    <span>
        Genres:
        @foreach (var genre in Model.Genres)
        {
        <span> @genre.Name</span>
    }
</span>
</div>
<div>
    <span>
        Type: @Model.Type.Name

    </span>
</div>
<div>
    <span>
        Countries:
        @foreach (var country in Model.Countries)
        {
        <span>
            @country.Name </span>
    }
</span>
</div>
<div>
    <span>
        Cast:
        @foreach (var cast in Model.Cast)
        {
        <span>
            @cast.Name
    </span>
            }
        </span>
</div>
<div>
    <span>
        Plot: @Model.Plot
    </span>
</div>
<div>
    <span>
        Rating IMDb: @Model.ImdbRating
    </span>
</div>
<div>
    <span>
        Site users rating: @Model.Rating
    </span>
</div>
@*@if (User.Identity.IsAuthenticated)
{
    <div>
        <span>
            @Html.ActionLink("Like", "Like", "Movies", new {id = Model.MovieId}, new {@class = "btn btn-primary"})
            @Html.ActionLink("Dislike", "DisLike", "Movies", new {id = Model.MovieId}, new {@class = "btn btn-primary"})
        </span>
    </div>
    <div>
        <span>
            Mark as watched: @Html.CheckBoxFor(m => m.IsWatched)
        </span>
    </div>
}*@
