@{ ViewBag.Title = "Home Page"; }
@model YMovies.Web.ViewModels.MovieViewModel
@using PagedList.Mvc;

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.js'></script>

<script type='text/javascript' src="//code.jquery.com/jquery-1.8.2.js"></script>

<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">

<style type="text/css">
    /* body {
        font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
        font-size: 62.5%;
    }*/

    .accordion-expand-holder {
        text-align: center;
        padding: 10px;
    }
</style>
<script type='text/javascript'>
    $(function () {
        var headers = $('#accordion .accordion-header');
        var contentAreas = $('#accordion .ui-accordion-content ').hide();
        var expandLink = $('.accordion-expand-all');

        // add the accordion functionality
        headers.click(function () {
            var panel = $(this).next();
            var isOpen = panel.is(':visible');

            // open or close as necessary
            panel[isOpen ? 'slideUp' : 'slideDown']()
                // trigger the correct custom event
                .trigger(isOpen ? 'hide' : 'show');

            // stop the link from causing a pagescroll
            return false;
        });

        // hook up the expand/collapse all
        expandLink.click(function () {
            var isAllOpen = $(this).data('isAllOpen');

            contentAreas[isAllOpen ? 'hide' : 'show']()
                .trigger(isAllOpen ? 'hide' : 'show');
        });

        // when panels open or close, check to see if they're all open
        contentAreas.on({
            // whenever we open a panel, check to see if they're all open
            // if all open, swap the button to collapser
            show: function () {
                var isAllOpen = !contentAreas.is(':hidden');
                if (isAllOpen) {
                    expandLink.text('Collapse All')
                        .data('isAllOpen', true);
                }
            },
            // whenever we close a panel, check to see if they're all open
            // if not all open, swap the button to expander
            hide: function () {
                var isAllOpen = !contentAreas.is(':hidden');
                if (!isAllOpen) {
                    expandLink.text('Expand all')
                        .data('isAllOpen', false);
                }
            }
        });
    });

</script>
<div id="accordion" class="ui-accordion ui-widget ui-helper-reset">

    @Html.Partial("_CountriesPartial", Model.Countries)
    @Html.Partial("_GenresPartial", Model.Genres)
    @Html.Partial("_YearsPartial", Model.Years)
    @Html.Partial("_TypesPartial", Model.Types)
</div>


<link href="~/Content/MainPage.css" rel="stylesheet" />

@foreach (var film in Model.MoviesInfo)
{
                
    <div class="movie-card">
        <div class="movie-header theDarkTower">
            <a href="@Url.Action("Details", "Movies", new {id = film.Id})">
                <img src="@Html.Raw(film.PosterUrl)" class="movie-header theDarkTower">
            </a>
        </div><!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">
                <a href="#">
                    <h3 class="movie-title">@film.Title
                    </h3>
                </a>
            </div>
            <div class="movie-info">
                <div class="info-section">
                    <label>IMDb Rating</label>
                    <span>@film.ImdbRating</span>
                </div>
            </div>
        </div>
    </div>
}

@*<table>
        @{ var counter = 1; }
        <tr>
            @foreach (var item in Model.MoviesInfo)
            {
<td>
    <div>
        <div align="center">
            @item.Title
        </div>
        <div>
            <a href="@Url.Action("Details", "Movies", new {id = item.Id})">
                <img src="@Html.Raw(item.PosterUrl)" alt="a description of the image" height=" 250" width="200">
            </a>
        </div>
        <div align="center">
            <span>ImdbRating: @item.ImdbRating</span>
        </div>
        <div align="center">
            <span>Genres:</span>
            @foreach (var genre in item.Genres)
            {
<span>@genre.Name</span>}

        </div>
    </div>
</td>
 if (counter % 5 == 0)
{
@:</tr>
@:<tr>
}
counter++;
}
        </tr>
    </table>*@

    @*Page @(Model.MoviePageList.PageCount < Model.MoviePageList.PageNumber ? 0 : Model.MoviePageList.PageNumber) of @Model.MoviePageList.PageCount
    @Html.PagedListPager(Model.MoviePageList, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
