@{ ViewBag.Title = "Home Page"; }
@model YMovies.Web.ViewModels.MovieViewModel
@using PagedList.Mvc;
@Html.Partial("Partial", Model.Countries)
<table>
    @{ var counter = 1; }
    <tr>
        @foreach (var item in Model.MoviesInfo)
        {
        <td>
            <div>
                <div align="center">
                    @item.Title
                </div>
                <div>
                    <a href="@Url.Action("Details", "Movies", new {id = item.Id})">
                        <img src="@Html.Raw(item.PosterUrl)" alt="a description of the image" height=" 250" width="200">
                    </a>
                </div>
                <div align="center">
                    <span>ImdbRating: @item.ImdbRating</span>
                </div>
                <div align="center">
                    <span>Genres:</span>
                    @foreach (var genre in item.Genres)
                    {
                        <span>@genre.Name</span>}

                </div>
            </div>
        </td>
            if (counter % 5 == 0)
            {
                @:</tr>
                @:<tr>
            }
            counter++;
        }
    </tr>
</table>

Page @(Model.MoviePageList.PageCount < Model.MoviePageList.PageNumber ? 0 : Model.MoviePageList.PageNumber) of @Model.MoviePageList.PageCount
@Html.PagedListPager(Model.MoviePageList, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
