@{ ViewBag.Title = "Home Page"; }
@model YMovies.Web.ViewModels.MovieViewModel
@using YMovies.Web.Utilites.Pagination

<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/MainPage.css" rel="stylesheet" />

<style type="text/css">
    .accordion-expand-holder {
        text-align: center;
        padding: 10px;
    }
</style>

@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    @Html.Action("Menu", "IndexMenu")
    @Html.HiddenFor(m => m.Pagination.CurrentPage)
    <button type="submit" class="btn btn-sm btn-secondary">Filter films</button>
}

<div>
    @foreach (var film in Model.Movies)
    {
        <div class="movie-card">
            <div class="movie-header theDarkTower">
                <a href="@Url.Action("Details", "Movies", new { filmid = film.MediaId, imdbid = film.ImdbId })">
                    <img src="@Html.Raw(film.PosterUrl)" class="movie-header theDarkTower">
                </a>
            </div>
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">
                            @film.Title
                        </h3>
                    </a>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>IMDb Rating</label>
                        <span>@film.ImdbRating</span>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.PageLinks(Model.Pagination, x => Url.Action("Index", new { page = x }))
    </div>
</div>

@section scripts {
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.js'></script>
    <script type='text/javascript' src="//code.jquery.com/jquery-1.8.2.js"></script>
    <script type='text/javascript'>
        $(function () {
            var headers = $('#accordion .accordion-header');
            var contentAreas = $('#accordion .ui-accordion-content ').hide();
            var expandLink = $('.accordion-expand-all');

            headers.click(function () {
                var panel = $(this).next();
                var isOpen = panel.is(':visible');

                panel[isOpen ? 'slideUp' : 'slideDown']()
                    .trigger(isOpen ? 'hide' : 'show');

                return false;
            });

            expandLink.click(function () {
                var isAllOpen = $(this).data('isAllOpen');

                contentAreas[isAllOpen ? 'hide' : 'show']()
                    .trigger(isAllOpen ? 'hide' : 'show');
            });

            contentAreas.on({

                show: function () {
                    var isAllOpen = !contentAreas.is(':hidden');
                    if (isAllOpen) {
                        expandLink.text('Collapse All')
                            .data('isAllOpen', true);
                    }
                },

                hide: function () {
                    var isAllOpen = !contentAreas.is(':hidden');
                    if (!isAllOpen) {
                        expandLink.text('Expand all')
                            .data('isAllOpen', false);
                    }
                }
            });
        });

    </script>
}

