@{ ViewBag.Title = "Home Page"; }
@model YMovies.Web.ViewModels.CountryMovieViewModel
@using PagedList.Mvc;

<table>
    @{ var counter = 1; }
    <tr>
        @foreach (var item in Model.Movies)
        {
<td>
    <div>
        <div align="center">
            @item.Title
        </div>
        <div>
            <a href="@Url.Action("Details", "Movies", new { id = item.MovieId})">
                <img src="@Url.Content("~/Content/Images/film.png")" class="postr" height=" 250" width="243" />
            </a>
        </div>
        <div align="center">
            <span>Plot: @item.Plot</span>
        </div>
    </div>

</td>
 if (counter % 5 == 0)
{
@:</tr>
@:<tr>
}
counter++;
}
    </tr>
</table>

Page @(Model.MoviePageList.PageCount < Model.MoviePageList.PageNumber ? 0 : Model.MoviePageList.PageNumber) of @Model.MoviePageList.PageCount
    @Html.PagedListPager(Model.MoviePageList, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
