@model YMovies.Web.ViewModels.MovieViewModel
@using YMovies.Web.Utilites.Pagination


<link href="~/Content/MainPage.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@foreach (var film in Model.Movies)
{

    <div class="movie-card">
        <div class="movie-header theDarkTower">
            <a href="@Url.Action("TopMovieDetails", "Movies", new { filmid = film.MediaId, imdbid=film.ImdbId})">
                <img src="@Html.Raw(film.PosterUrl)" class="movie-header theDarkTower">
            </a>
        </div><!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">
                <a href="#">
                    <h3 class="movie-title">
                        @film.Title
                </h3>
            </a>
        </div>
        <div class="movie-info">
            <div class="info-section">
                <label>IMDb Rating</label>
                <span>@film.ImdbRating</span>
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.PageLinks(Model.Pagination, x => Url.Action("MostWatched", new { page = x }))
</div>