@model YMovies.Web.ViewModels.NewFilm

@{
    ViewBag.Title = "View";
}
<link rel="stylesheet" href="~/Content/typeahead.css" />

<div class="container">
    <div class="row">
        <div class="col-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Create Film</h4>
                    <hr />

                    <div class="mb-3">
                        @Html.LabelFor(m => m.Title, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.Plot, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Plot, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Plot, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.PosterUrl, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PosterUrl, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PosterUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.Year, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.ImdbRating, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ImdbRating, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ImdbRating, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.Budget, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Budget, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Budget, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.BoxOffice, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.BoxOffice, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.BoxOffice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.Cast, new { @class = "form-label" })
                        <div class="col-md-10">
                            <input type="text" value="" class="form-control" id="actor">
                            @Html.ValidationMessageFor(m => m.Cast, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/typeahead.bundle.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var cast = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/actors?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#actor').typeahead({
                minLength: 2,
                highLight: true,
            }, {
                name: 'cast',
                display: 'name',
                source: cast
            });
        });
    </script>
}
